*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    background-image: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dG9kb2xpc3R8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60");
}